<section id="about" class="section container-about">
  <div class="container container-about-box">
    <div class="about-box">
      <h2 class="about-title">About Us</h2>
        <p class="about-descri">
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist.
        </p>
        <p class="about-descri-title">
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device – it's a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
        </p>
      <a href="#catalog" class="about-link">View catalog</a>
    </div>
    <div class="container-about-image">
      <picture class="about-picture">
        <source srcset="/images/aboutus/rectangle-desc.jpg 1x, /images/aboutus/rectangle-desc-2x.jpg 2x"
        media="(min-width: 1280px)"
        >
        <source srcset="/images/aboutus/rectangle-tab.jpg 1x, /images/aboutus/rectangle-tab-2x.jpg 2x"
        media="(min-width: 768px)"
        >
        <source srcset="/images/aboutus/rectangle-mob.jpg 1x, /images/aboutus/rectangle-mob-2x.jpg 2x"
        media="(max-width: 767px)"
        >
        <img
          class="about-images"
          src="/images/aboutus/rectangle-mob.jpg"
          alt="rectangle"
        />
      </picture>
    </div>
  </div>
</section>
