<section id="catalog" class="section">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture class="catalog-image">
                <source
                  srcset="
                    /images/catalog/one-desc1x.png  1x,
                    /images/catalog/one-desc@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /images/catalog/one-table1x.png,
                    /images/catalog/one-table@2x.png
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /images/catalog/one-mobile1x.png,
                    /images/catalog/one-mobile@2x.png
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-list-img"
                  src="/images/catalog/one-mobile1x.png"
                  alt="Garmin Fenix 7X Pro"
                />
              </picture>
              <div class="catalog-list-text">
                <p class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar</p>
                <p class="catalog-price">€500</p>
              </div>
            </div>
            <div class="flip-card-back">
              <p class="catalog-text-flip">
                Garmin Fenix 7X Pro Sapphire Solar
              </p>
              <p class="flip-card-front">
                Garmin Fenix 7X Sapphire Solar — це саме той годинник, запасу
                актуальності котрого цілком вистачає, щоб стати вашим надійним
                компаньйоном протягом багатьох років. Він підтримує велику
                кількість спортивних профілів, пропонує тижні автономної роботи,
                має чудовий дисплей та зроблений з розкішних матеріалів, чим
                перевершує конкурентів в усіх аспектах.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="catalog-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    /images/catalog/two-desc1x.png  1x,
                    /images/catalog/two-desc@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /images/catalog/two-table1x.png,
                    /images/catalog/two-table@2x.png
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /images/catalog/two-mobile1x.png,
                    /images/catalog/two-mobile@2x.png
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-list-img"
                  src="/images/catalog/two-mobile1x.png"
                  alt="Garmin Marq Athlete"
                />
              </picture>
              <div class="catalog-list-text">
                <p class="catalog-text">Garmin Marq Athlete</p>
                <p class="catalog-price">€450</p>
              </div>
            </div>
            <div class="flip-card-back">
              <p class="catalog-text-flip">Garmin Marq Athlete</p>
              <p class="flip-card-front">
                Нове покоління бездоганної серії Marq — це чергова вдала спроба
                Garmin довести, що вона здатна створити справді розкішний
                годинник. Garmin Marq Athlete обіцяє комбінацію преміальних
                матеріалів, кольоровий сенсорний дисплей і більше, ніж
                будь-коли, функцій для спорту, активного відпочинку та
                повсякдення, прихованих в унікальному корпусі, що підкреслить
                статут власника.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="catalog-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    /images/catalog/three-desc1x.png  1x,
                    /images/catalog/three-desc@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /images/catalog/three-table1x.png,
                    /images/catalog/three-table@2x.png
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /images/catalog//three-mobile1x.png,
                    /images/catalog/three-mobile@2x.png
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-list-img"
                  src="/images/catalog//three-mobile1x.png"
                  alt="Garmin Descent MK1"
                />
              </picture>
              <div class="catalog-list-text">
                <p class="catalog-text">Garmin Descent MK1</p>
                <p class="catalog-price">€680</p>
              </div>
            </div>
            <div class="flip-card-back">
              <p class="catalog-text-flip">Garmin Descent MK1</p>
              <p class="flip-card-front">
                Неважливо, чи занурюєтеся ви з акваріумом або без нього, в
                морській або прісній воді, дихайте нітроксом, тріміксом або
                затримуєте подих-Descent Mk1-це інтуїтивно зрозумілий
                дайв-комп'ютер, на який ви очікуєте. Це перший підводний
                комп'ютер розміром з годинник, що пропонує наземний GPS з
                повнокольоровим відображенням на екрані та вказівкою
                розташування, так що ви можете легко помітити точки входу та
                виходу з занурення.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="catalog-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    /images/catalog/four-desc1x.png,
                    /images/catalog/four-desc@2x.png
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /images/catalog/four-table1x.png,
                    /images/catalog/four-table@2x.png
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /images/catalog/four-mobile1x.png,
                    /images/catalog/four-mobile@2x.png
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-list-img"
                  src="/images/catalog/four-mobile1x.png"
                  alt="Garmin D2 Delta PX"
                />
              </picture>
              <div class="catalog-list-text">
                <p class="catalog-text">Garmin D2 Delta PX</p>
                <p class="catalog-price">€380</p>
              </div>
            </div>
            <div class="flip-card-back">
              <p class="catalog-text-flip">Garmin D2 Delta PX</p>
              <p class="flip-card-front">
                Авіаційний GPS-годинник Garmin D2 Delta PX з титановим ремінцем
                включає вбудовані кольорові карти, метеорологічні функції,
                функцію реєстрації польотів і можливість відзначати маршрутні
                точки. Garmin D2 Delta PX, єдині із серії, оснащені датчиком
                Pulse Ox. Навігатор може бути використаний як резервний
                навігаційний пристрій у кабіні літака. Серія годинників D2 Delta
                пропонує повний пакет інструментів для спорту та фітнесу.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="catalog-item img-none">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    /images/catalog/five-desc1x.png,
                    /images/catalog/five-desc@2x.png
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /images/catalog/five-table1x.png,
                    /images/catalog/five-table@2x.png
                  "
                  media="(min-width: 768px)"
                />
                <img
                  class="catalog-list-img"
                  src="/images//catalog/five-table1x.png"
                  alt="Garmin Fenix 6 Pro Solar"
                />
              </picture>
              <div class="catalog-list-text">
                <p class="catalog-text">Garmin Fenix 6 Pro Solar</p>
                <p class="catalog-price">€400</p>
              </div>
            </div>
            <div class="flip-card-back">
              <p class="catalog-text-flip">Garmin Fenix 6 Pro Solar</p>
              <p class="flip-card-front">
                Завдяки склу Power Glass з функцією підзарядки від сонячної
                енергії та настроєним режимам живлення час роботи цього
                смарт-годинника між зарядками акумулятора становить кілька
                тижнів. Міцна та сучасна конструкція включає великий дисплей
                1,3”. Пристрій був протестований відповідно до військових
                стандартів США на термальний та ударний вплив, а також
                водонепроникність.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="catalog-item img-none">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    /images/catalog/six-desc1x.png,
                    /images/catalog/six-desc@2x.png
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /images/catalog/six-table1x.png,
                    /images/catalog/six-table@2x.png
                  "
                  media="(min-width: 768px)"
                />
                <img
                  class="catalog-list-img"
                  src="/images/catalog/six-table1x.png"
                  alt="Tube Watch S42"
                />
              </picture>
              <div class="catalog-list-text">
                <p class="catalog-text">Tube Watch S42 Date Steel With..</p>
                <p class="catalog-price">€395</p>
              </div>
            </div>
            <div class="flip-card-back">
              <p class="catalog-text-flip">
                Tube Watch S42 Date Steel With Black Case
              </p>
              <p class="flip-card-front">
                Приготуйтеся до пригод на свіжому повітрі з розумним годинником
                Tube Watch S42 Date Steel With Black Case — надійним і
                інноваційним пристроєм, що носиться, щоб супроводжувати вас у
                найдикіших пригодах. Цей мультиспортивний GPS-годинник
                преміум-класу, що володіє передовими функціями та міцною
                конструкцією, створений для дослідників і спортсменів, яким
                необхідні розширені функціональні можливості та надійність на
                свіжому повітрі.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
