<section class="section">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ../images/catalog/one-desc1x.png,
              /images/catalog/one-desc@2x.png
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../images/catalog/one-table1x.png,
              /images/catalog/one-table@2x.png
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/catalog/one-mobile1x.png,
              /images/catalog/one-mobile@2x.png
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-list-img"
            width="208"
            height="226"
            src="/images/catalog/one-mobile1x.png"
            alt="Garmin Fenix 7X Pro"
          />
        </picture>
        <div class="catalog-list-text">
          <p class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar</p>
          <p class="catalog-price">€500</p>
        </div>
      </li>

      <li class="catalog-item">
        <picture>
          <source
            srcset="
              /images/catalog/two-desc1x.png,
              /images/catalog/two-desc@2x.png
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../images/catalog/two-table1x.png,
              /images/catalog/two-table@2x.png
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /images/catalog/two-mobile1x.png,
              /images/catalog/two-mobile@2x.png
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-list-img"
            width="208"
            height="226"
            src="/images/catalog/two-mobile1x.png"
            alt="Garmin Marq Athlete"
          />
        </picture>
        <div class="catalog-list-text">
          <p class="catalog-text">Garmin Marq Athlete</p>
          <p class="catalog-price">€450</p>
        </div>
      </li>

      <li class="catalog-item">
        <picture>
          <source
            srcset="
              /images/catalog/three-desc1x.png,
              /images/catalog/three-desc@2x.png
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../images/catalog/three-table1x.png,
              /images/catalog/three-table@2x.png
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /images/catalog//three-mobile1x.png,
              /images/catalog/three-mobile@2x.png
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-list-img"
            width="208"
            height="226"
            src="/images/catalog//three-mobile1x.png"
            alt="Garmin Descent MK1"
          />
        </picture>
        <div class="catalog-list-text">
          <p class="catalog-text">Garmin Descent MK1</p>
          <p class="catalog-price">€680</p>
        </div>
      </li>

      <li class="catalog-item">
        <picture>
          <source
            srcset="
              /images/catalog/four-desc1x.png,
              /images/catalog/four-desc@2x.png
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /images/catalog/four-table1x.png,
              /images/catalog/four-table@2x.png
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /images/catalog/four-mobile1x.png,
              /images/catalog/four-mobile@2x.png
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-list-img"
            width="208"
            height="226"
            src="/images/catalog/four-mobile1x.png"
            alt="Garmin D2 Delta PX"
          />
        </picture>
        <div class="catalog-list-text">
          <p class="catalog-text">Garmin D2 Delta PX</p>
          <p class="catalog-price">€380</p>
        </div>
      </li>

      <li class="catalog-item img-none">
        <picture>
          <source
            srcset="
              /images/catalog/five-desc1x.png,
              /images/catalog/five-desc@2x.png
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /images/catalog/five-table1x.png,
              /images/catalog/five-table@2x.png
            "
            media="(min-width: 768px)"
          />
          <img
            class="catalog-list-img"
            width="208"
            height="226"
            src="/images//catalog/five-table1x.png"
            alt="Garmin Fenix 6 Pro Solar"
          />
        </picture>
        <div class="catalog-list-text">
          <p class="catalog-text">Garmin Fenix 6 Pro Solar</p>
          <p class="catalog-price">€400</p>
        </div>
      </li>

      <li class="catalog-item img-none">
        <picture>
          <source
            srcset="
              /images/catalog/six-desc1x.png,
              /images/catalog/six-desc@2x.png
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /images/catalog/six-table1x.png,
              /images/catalog/six-table@2x.png
            "
            media="(min-width: 768px)"
          />
          <img
            class="catalog-list-img"
            width="208"
            height="226"
            src="/images/catalog/six-table1x.png"
            alt="Tube Watch S42"
          />
        </picture>
        <div class="catalog-list-text">
          <p class="catalog-text">Tube Watch S42 Date Steel With..</p>
          <p class="catalog-price">€395</p>
        </div>
      </li>
    </ul>
    <div class="catalog-button">
      <button class="catalog-btn" type="button">Show more</button>
    </div>
  </div>
</section>
