<section>
  <div class="section-catalog">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <img
          class="catalog-list-img"
          width="208"
          height="226"
          src="/src/images/catalog/one-mobile1x.png"
          alt="photo Garmin Fenix 7X"
        />
        <div class="catalog-list-text">
          <p class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar</p>
          <p class="catalog-price">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-list-img"
          width="208"
          height="226"
          src=""
          alt="photo Garmin Fenix 7X"
        />
        <p class="catalog-text">Garmin Marq Athlete</p>
        <p class="catalog-price">€450</p>
      </li>
      <li><img src="/images/catalog/four-table1x.png" alt="" /></li>
      <li><img src="" alt="" /></li>
    </ul>
  </div>
</section>
