<section class="section section-contactus">
  <div class="container contactus-container">
    <h2 class="contactus-title"></h2>
    <div class="contactus-wrapper">
      <div class="contactus-form-box">
        <p class="contactus-descr"></p>
        <form action="#">
          <div class="contactus-input-wrapper">
            <label class="visually-hidden" for="username">Name</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Name"
            />
            <div class="contactus-input-wrapper">
              <label class="visually-hidden" for="useremail">Email</label>
              <input
                type="email"
                name="useremail"
                id="useremail"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="contactus-input-wrapper">
            <label class="visually-hidden" for="username">Name</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Name"
            />
          </div>
          <div class="contactus-input-wrapper">
            <label class="visually-hidden" for="username">Name</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Name"
            />
          </div>

          <input type="button" value="Send" />
        </form>
      </div>
      <img src="/images/contactus/rectangle-desk.jpg" alt="" />
    </div>
  </div>
</section>
