<!-- header -->
<div class="header section">
  <div class="header-nav-container container">
    <nav class="header-nav">
      <a class="header-logo" href="">watchcharm</a>

      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="">Home</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="">About Us</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="">Catalog</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="">Sale</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="">Reviews</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="">Contact Us</a>
        </li>
      </ul>
    </nav>

  </div>
</div>