<!-- header -->
<div class="header section">
  <div class="header-nav-container container">
    <nav class="header-nav">
      <a class="header-logo" href="">watchcharm</a>

      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="">Home</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="">About Us</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="">Catalog</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="">Sale</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="">Reviews</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="">Contact Us</a>
        </li>
      </ul>
    </nav>

    <ul class="header-social-list">
      <li class="header-social-list-item">
        <a class="header-social-list-link">
          <svg class="header-social-list-icon" width="20" height="20">
            <use href=""></use>
          </svg>
          FB
        </a>
      </li>
      <li class="header-social-list-item">
        <a class="header-social-list-link">
          <svg class="header-social-list-icon" width="20" height="20">
            <use href=""></use>
          </svg>
          IN
        </a>
      </li>
      <li class="header-social-list-item">
        <a class="header-social-list-link">
          <svg class="header-social-list-icon" width="20" height="20">
            <use href=""></use>
          </svg>
          YT
        </a>
      </li>
    </ul>

  </div>
</div>