<!-- header -->

<header class="header">
  <div class="header-nav-container container">

    <a class="header-logo" href="#top">watchcharm</a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item header-nav-list-item-active-link">
          <a class="header-nav-list-item-link" href="#top">Home</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#about">About Us</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#catalog">Catalog</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#sale">Sale</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#contactus">Contact Us</a>
        </li>
      </ul>
    </nav>

    <ul class="header-social-list">
      <li class="header-social-list-item">
        <a class="header-social-list-link" target="_blank" rel="noopener noreferrer"
          href="https://www.facebook.com/goITclub/">
          <svg class="header-social-list-icon" width="20" height="20">
            <use href="/images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a class="header-social-list-link" target="_blank" rel="noopener noreferrer"
          href="https://www.instagram.com/goitclub/">
          <svg class="header-social-list-icon" width="20" height="20">
            <use href="/images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a class="header-social-list-link" target="_blank" rel="noopener noreferrer"
          href="https://www.youtube.com/c/GoIT">
          <svg class="header-social-list-icon" width="20" height="20">
            <use href="/images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="header-button" type="button">
      <svg class="header-button-icon" width="34" height="34">
        <use href="/images/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
<!-- mobile menu -->
<div class="mobile-menu-container is-open">
  <div class="mobile-menu is-open">
    <button class="mobile-menu-close-button">
      <svg class="mobile-menu-close-icon">
        <use href="/images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="mobile-nav">
      <ul class="mobile-nav-list">
        <li class="mobile-nav-list-item header-nav-list-item-active-link">
          <a class="mobile-nav-list-item-link" href="#top">Home</a>
        </li>
        <li class="mobile-nav-list-item">
          <a class="mobile-nav-list-item-link" href="#about">About Us</a>
        </li>
        <li class="mobile-nav-list-item">
          <a class="mobile-nav-list-item-link" href="#catalog">Catalog</a>
        </li>
        <li class="mobile-nav-list-item">
          <a class="mobile-nav-list-item-link" href="#sale">Sale</a>
        </li>
        <li class="mobile-nav-list-item">
          <a class="mobile-nav-list-item-link" href="#reviews">Reviews</a>
        </li>
        <li class="mobile-nav-list-item">
          <a class="mobile-nav-list-item-link" href="#contactus">Contact Us</a>
        </li>
      </ul>
    </nav>

    <ul class="mobile-social-list">
      <li class="mobile-social-list-item">
        <a class="mobile-social-list-link" target="_blank" rel="noopener noreferrer"
          href="https://www.facebook.com/goITclub/">
          <svg class="header-social-list-icon" width="20" height="20">
            <use href="/images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-social-list-item">
        <a class="mobile-social-list-link" target="_blank" rel="noopener noreferrer"
          href="https://www.instagram.com/goitclub/">
          <svg class="mobile-social-list-icon" width="20" height="20">
            <use href="/images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-social-list-item">
        <a class="mobile-social-list-link" target="_blank" rel="noopener noreferrer"
          href="https://www.youtube.com/c/GoIT">
          <svg class="mobile-social-list-icon" width="20" height="20">
            <use href="/images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>