<section class="hero section">
    <div class="container">
        <div class="hero-hat">
            <h1 class="hero-title">
                Welcome to our <span class="hero-title-span">collection</span> of
                premium watches
            </h1>
            <p class="hero-text">
                Our watches are not just timepieces, but also an expression of your
                personality and lifestyle. From classic designs to modern ones, we
                have a watch to suit every taste and occasion.
            </p>
        </div>

        <ul class="hero-list">
            <!-- почекаю, поки будуть картинки з секції  Reviews-->
            <li class="hero-list-item"></li>
            <li class="hero-list-item"></li>
            <li class="hero-list-item"></li>
        </ul>

        <a class="hero-link" href="">Scroll down</a>

        <div class="hero-img">

        </div>



    </div>

</section>