<section class="sale section">
  <div class="slider"></div>

  <div class="sale-container">
    <h2 class="title">MARQ &#174; Commander (Gen 2) - Carbon Edition</h2>
    <p class="under-title">Product tag: 706587</p>
    <button class="price">&#8364; 1500</button
    ><span class="old-price"> &#8364; 3000</span>
    <p class="text">
      The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
      adventurers that takes materials and features to the next level. The body
      of the watch is made of very durable Fused Carbon Fiber material and has a
      precise AMOLED touch screen. The sensitive touch screen is complemented by
      buttons that can be used in any conditions.
    </p>
    <ul class="assortment">
      <li class="option"><a>Fused carbon fiber</a></li>
      <li class="option"><a>Grade-5 Titanium</a></li>
      <li class="option"><a>Athlete</a></li>
      <li class="option"><a>Golfer</a></li>
      <li class="option"><a>Commander</a></li>
      <li class="option"><a>Adventurer</a></li>
    </ul>
  </div>
</section>
