<section id="sale" class="sail section">
  <div class="slider">
    <ul class="sale-slider-list">
      <li class="sale-slider-item">
        <picture>
          <source
            srcset="
              ../images/sale/sale-watch1.png    1x,
              ../images/sale/sale-watch1-2x.png
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../images/sale/sale-watch1.png    1x,
              ../images/sale/sale-watch1-2x.png
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../images/sale/sale-watch1.png    1x,
              ../images/sale/sale-watch1-2x.png
            "
            media="(min-width:365px)"
          />
          <img
            src="../images/sale/sale-watch1.png"
            alt="Watch from the front"
            class="sale-slider-img"
          />
        </picture>
      </li>
      <li class="sale-slider-item">
        <picture>
          <source
            srcset="
              ../images/sale/sale-watch2.png 1x,
              ../images/sale/sale-watch2.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../images/sale/sale-watch2.png 1x,
              ../images/sale/sale-watch2.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../images/sale/sale-watch2.png 1x,
              ../images/sale/sale-watch2.png 2x
            "
            media="(min-width:365px)"
          />
          <img
            src="../images/sale/sale-watch2.png"
            alt="Watch from the front"
            class="sale-slider-img"
          />
        </picture>
      </li>
      <li class="sale-slider-item">
        <picture>
          <source
            srcset="
              ../images/sale/sale-watch3.png 1x,
              ../images/sale/sale-watch3.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../images/sale/sale-watch3.png 1x,
              ../images/sale/sale-watch3.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../images/sale/sale-watch3.png 1x,
              ../images/sale/sale-watch3.png 2x
            "
            media="(min-width:365px)"
          />
          <img
            src="../images/sale/sale-watch3.png"
            alt="Watch from the side"
            class="sale-slider-img"
          />
        </picture>
      </li>
      <li class="sale-slider-item">
        <picture>
          <source
            srcset="
              ../images/sale/sale-watch4.png 1x,
              ../images/sale/sale-watch4.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../images/sale/sale-watch4.png 1x,
              ../images/sale/sale-watch4.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../images/sale/sale-watch4.png 1x,
              ../images/sale/sale-watch4.png 2x
            "
            media="(min-width:365px)"
          />
          <img
            src="../images/sale/sale-watch4.png"
            alt="Watch from the back"
            class="sale-slider-img"
          />
        </picture>
      </li>
    </ul>

    <ul class="sale-list-main">
      <li class="sale-item-main">
        <picture>
          <source
            srcset="
              ../images/sale/sale-bigwatch.png    1x,
              ../images/sale/sale-bigwatch-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../images/sale/sale-bigwatch.png    1x,
              ../images/sale/sale-bigwatch-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../images/sale/sale-bigwatch.png    1x,
              ../images/sale/sale-bigwatch-2x.png 2x
            "
            media="(min-width:365px)"
          />
          <img
            src="../images/sale/sale-bigwatch.png"
            alt="Watch"
            class="sale-slider-img-main"
          />
        </picture>
      </li>
    </ul>
  </div>

  <div class="sale-container">
    <h2 class="title">MARQ&#174; Commander (Gen 2) - Carbon Edition</h2>
    <p class="under-title">Product tag: 706587</p>
    <button class="price">&#8364; 1500</button
    ><span class="old-price"> &#8364; 3000</span>
    <p class="text">
      The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
      adventurers that takes materials and features to the next level. The body
      of the watch is made of very durable Fused Carbon Fiber material and has a
      precise AMOLED touch screen. The sensitive touch screen is complemented by
      buttons that can be used in any conditions.
    </p>
    <ul class="assortment">
      <li class="option"><a>Fused carbon fiber</a></li>
      <li class="option"><a>Grade-5 Titanium</a></li>
      <li class="option"><a>Athlete</a></li>
      <li class="option"><a>Golfer</a></li>
      <li class="option"><a>Commander</a></li>
      <li class="option"><a>Adventurer</a></li>
    </ul>
  </div>
</section>
