
.container-about-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-box {
  background-color: #f3f3f3;
  padding: 40px 20px;
  border-radius: 30px;
}

.about-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;
}

.about-descri {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 20px;
}

.about-descri-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 40px;
}

.about-link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  background-color: #3350e9;
  padding: 15px 38px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-link:hover,.about-link:focus{
  background-color: #1f3cd4;
}

.about-picture img {
  border-radius: 30px;
}

  @media screen and (min-width: 768px) {
  
  .about-title{
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 0.91;
    letter-spacing: -0.02em;
  }

    .about-picture img {
      border-radius: 50px;
    }

  .container-about-box {

    gap: 40px;
  }
  
  .about-box{
    padding: 80px 60px;
  }


.about-descri-title {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 60px;
}

.about-descri{
  font-size: 16px;
  line-height: 1.25;
}

  }

  @media screen and (min-width: 1280px) {

    .container-about-box{
      flex-direction: row;
    }

.container-about-image {
    flex-shrink: 0;
}


    .about-descri-title {
      margin-bottom: 40px;
    }
    
  }