.adv-container {
  padding: 60px 28px;
  background-image: url(../images/advertisement/adv-mob.jpg);
  background-color: #0c0c0c;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 30px;
  width: 335px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .adv-container {
    background-image: url(../images/advertisement/adv-mob-2x.jpg);
  }
}

.adv-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-align: start;
  margin: auto;
  width: 279px;
  margin-bottom: 28px;
}

.adv-title-span {
  color: rgba(251, 251, 251, 0.5);
}

.adv-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .adv-container {
    padding: 80px 64px;
    background-image: url(../images/advertisement/adv-tab.jpg);
    width: 704px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .adv-container {
      background-image: url(../images/advertisement/adv-tab-2x.jpg);
    }
  }

  .adv-title {
    font-size: 48px;
    line-height: 0.92;
    width: 576px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .adv-container {
    padding: 83px 80px;
    background-image: url(../images/advertisement/adv-desc.jpg);
    width: 1150px;
    display: flex;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .adv-container {
      background-image: url(../images/advertisement/adv-desc-2x.jpg);
    }
  }

  .adv-title {
    width: 690px;
    margin: 0;
    margin-right: 140px;
  }

  .adv-button {
    align-items: baseline;
  }
}
