

.section-contactus {

}

.contactus-container {

}

.contactus-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.contactus-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactus-form-box {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 48px 28px;
}

.contactus-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
  max-width: 279px;
}

.contactus-form{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contactus-input-wrapper {

}

.contactus-form-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-top: 12px;
  padding-left: 14px;
  padding-bottom: 12px;
  width: 100%;
  height: 42px;
  outline: transparent;
  background-color: transparent;
}

.contactus-form-input::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: #0c0c0c;
}

.contactus-form-textarea {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 14px;
  padding-top: 12px;
  width: 100%;
  height: 84px;
  resize: none;
  background-color: transparent;
  outline: transparent;
}

.contactus-form-send {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 42px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactus-form-send:hover,.contactus-form-send:focus{
  background-color: #1f3cd4;
}

.contactus-picture {

}