


.contactus-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.contactus-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactus-form-box {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 48px 28px;
}

.contactus-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.8);
  margin-bottom: 28px;
  max-width: 279px;
}

.contactus-form{
  display: flex;
  flex-direction: column;
  gap: 18px;
}



.contactus-form-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-top: 12px;
  padding-left: 14px;
  padding-bottom: 12px;
  width: 100%;
  height: 42px;
  outline: transparent;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contactus-form-input:focus{
  border: 1px solid #3350e9;
}

.contactus-form-input::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
}

.contactus-form-textarea {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 14px;
  padding-top: 12px;
  padding-right: 14px;
  width: 100%;
  height: 84px;
  resize: none;
  background-color: transparent;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactus-form-textarea:focus{
  border: 1px solid #3350e9;
}


.contactus-form-textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
}

.contactus-form-send {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 42px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactus-form-send:hover,.contactus-form-send:focus{
  background-color: #1f3cd4;
}

.contactus-picture img {
  border-radius: 30px;
}





@media screen and (min-width: 768px) {
.contactus-form-box {
    padding: 50px 122px;
  }

.contactus-descr {
  max-width: 460px;
  font-size: 16px;
  line-height: 1.25;


}

.contactus-picture img {
  border-radius: 50px;
}

.contactus-wrapper {
  gap: 40px;
  
}

.contactus-title{
  margin-bottom: 40px;
  font-size: 48px;  
  line-height: 0.91;

}

.contactus-descr{
  margin-bottom: 32px;
}

.contactus-form-send{
  /* 14 томущо геп 18 ще  і разом 32 */
  margin-top: 14px; 

}



.contactus-form-input {
  padding-top: 16px;
  padding-left: 18px;
  padding-bottom: 16px;
  width: 100%;
  height: 52px;
}


.contactus-form-textarea {
  padding-left: 16px;
  padding-top: 16px;
  width: 100%;
  height: 90px;

}


}







@media screen and (min-width: 1280px) {

.contactus-wrapper {
    flex-direction: row;
    gap: 40px;
  }


.contactus-form-box {
  padding: 50px 60px;
}






}