.footer {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
.footer-container {
  background-color: #0c0c0c;
  border-radius: 30px;
  padding: 40px 28px 28px 28px;
  width: 335px;
  
}
.footer-container-logo {
}
.footer-nav {
}
.footer-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  display: block;
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  gap: 10px;
}
.footer-social-item {
}
.footer-social-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer-icon {
  fill: #fbfbfb;
  opacity: 0.8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon:hover,
.footer-icon:focus {
  fill: #3350e9;
}
.footer-phone {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  min-width: 152px;
  height: 44px;
  padding: 14px 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-phone:hover,
.footer-phone:focus {
  color: #3350e9;
  border-color: #fbfbfb;
}
.footer-description {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-top: 40px;
  margin-bottom: 92px;
}
.footer-content {
  display: flex;
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  width: 147px;
}
.footer-list-item {
}
.footer-list-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  line-height: 1.33333;
  text-align: center;
  color: #fbfbfb;
}
.footer-address {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  line-height: 1.33333;
  color: #fbfbfb;
  margin-left: 49px;
  width: 83px;
  text-align: justify;
}
.footer-copyright-text {
}
.footer-rights {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
  padding-bottom: 8px;
}
.footer-terms {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
  padding-right: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-terms:hover,
.footer-terms:focus {
  color: #fbfbfb;
  text-decoration: underline;
}
.footer-privacy {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-privacy:hover,
.footer-privacy:focus {
  color: #fbfbfb;
  text-decoration: underline;
}
.footer-social-link {
  width: 36px;
  height: 36px;
}
@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    padding: 0 32px;
  }
  .footer-nav {
  }
  .footer-container {
    padding: 40px 40px 28px 40px;
    width: 704px;
  }
  .footer-container-logo {
    display: flex;
  }
  .footer-logo {
    display: flex;
    font-size: 20px;
  }
  .footer-logo:nth-child(1) {
    order: -1;
  }
  .footer-social-link {
    width: 36px;
    height: 36px;
  }
  .footer-phone {
    min-width: 160px;
    height: 48px;
    padding: 15px;
  }
  .footer-phone:nth-child(2) {
    order: 3;
  }
  .footer-description {
    font-size: 28px;
    line-height: 32px;
    max-width: 524px;
    margin-top: 166px;
    margin-bottom: 100px;
    text-align: justify;
  }
  .footer-description:nth-child(3) {
    order: 0;
  }
  .footer-list {
    flex-wrap: nowrap;
    width: 400px;
    gap: 19px;
  }
  .footer-list-link {
    font-size: 14px;
    line-height: 18px;
    line-height: 1.29;
  }
  .footer-address {
    font-size: 14px;
    line-height: 18px;
    line-height: 1.29;
    margin-left: auto;
    width: 162px;
  }
  .footer-copyright-text {
    margin-top: 28px;
    display: flex;
  }
  .footer-rights {
    font-size: 14px;
    line-height: 18px;
    line-height: 1.29;
    padding-right: 159px;
  }
  .footer-terms {
    font-size: 14px;
    line-height: 18px;
    line-height: 1.29;
  }
  .footer-privacy {
    font-size: 14px;
    line-height: 18px;
    line-height: 1.29;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1280px;
    padding: 0 32px;
  }
  .footer-container {
    border-radius: 30px;
    padding: 40px 40px 28px 40px;
    width: 1216px;
    background: #0c0c0c;
  }
  .footer-container-logo {
    display: flex;
    margin-bottom: 126px;
  }
  .footer-nav {
    margin-right: 178px;
  }

  .footer-logo {
    font-size: 20px;
  }
  .footer-logo:nth-child(1) {
    order: -1;
  }
  .footer-social-list {
    display: flex;
    gap: 10px;
  }
  .footer-social-item {
  }

  .footer-social-link {
    width: 36px;
    height: 36px;
  }
  .footer-phone {
    font-size: 14px;
    line-height: 18px;
    height: 48px;
    padding: 15px;
    margin-left: auto;
  }

  .footer-phone:nth-child(2) {
    order: 3;
  }
  .footer-description {
    font-size: 28px;
    letter-spacing: -0.02em;
    width: 523px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  .footer-description:nth-child(3) {
    order: 0;
  }
  .footer-content {
    padding-bottom: 28px;
  }
  .footer-list {
    flex-wrap: nowrap;
    gap: 40px;
    width: 505px;
  }
  .footer-list-item {
  }
  .footer-list-link {
    font-size: 14px;
    line-height: 18px;
    line-height: 1.29;
  }
  .footer-address {
    font-size: 14px;
    line-height: 18px;
    line-height: 1.29;
    display: flex;
    width: 162px;
    /* text-align: center; */
    margin-left: auto;
  }
  .footer-copyright-text {
    display: flex;
    margin-top: 28px;
  }
  .footer-rights {
    font-size: 14px;
    line-height: 18px;
    line-height: 1.29;
  }
  .footer-terms {
    font-size: 14px;
    line-height: 18px;
    line-height: 1.29;
    margin-left: auto;
    padding-right: 20px;
  }

  .footer-privacy {
    font-size: 14px;
    line-height: 18px;
    line-height: 1.29;
  }
}
