body {
  font-family: 'Gilroy', sans-serif;
  background-color: #fbfbfb;
  color: #0c0c0c;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 365px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 30px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
  .section {
    padding: 40px 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1180px;
  }

  .section {
    padding: 50px 0;
  }
}
