.header {
  border-bottom: 1px solid #e7e9fc;
  width: 100%;
  height: 74px;
}

.header-nav-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header-logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;

}

.header-nav,
.header-social-list,
.header-button {
  display: none;
}


.header-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
}

.header-button-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header {
    height: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    height: 88px;
  }

  .header-nav {
    display: flex;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-nav-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    position: relative;
  }

  .header-nav-list-item-link {
    color: #0c0c0c;
    padding-top: 30px;
    padding-bottom: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


    .header-nav-list-item-link:hover,.header-nav-list-item-link:focus{
      color: #3350e9;
    }

  .header-nav-list-item-active-link::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 23px;
    height: 8px;
    width: 8px;
    background-color: #3350e9;
    border-radius: 50%;
  }

  .header-social-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }


  .header-social-list-link{
    display: inline-block;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
  }

  .header-social-list-link:hover,
  .header-social-list-link:focus {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #3350e91a;
  }

  .header-social-list-icon:hover,
  .header-social-list-icon:focus {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #3350e9;
  }

  .header-social-list-link:hover .header-social-list-icon,
  .header-social-list-link:focus .header-social-list-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #3350e9;
  }


  .header-button {
    display: none;
  }

  .header-button-icon {
    display: none;
  }
}

/* --- mobile menu ---- */


.mobile-menu-container {
  display: flex;
  position: fixed;
  /* https: //developer.mozilla.org/en-US/docs/Web/CSS/inset */
  inset: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #0c0c0c3c no-repeat padding-box;
  opacity: 0;
  pointer-events: none;

  opacity: 0;
  transition: opacity 250ms
}

.mobile-menu-container.is-open{
  opacity: 1;
}

.mobile-menu {
  display: flex;
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* що робити з width? залишити фіксоване значення
чи вирахувати відсоток? */
  width: 200px;
  height: 100%;
  padding: 20px 20px 40px 20px;
  background-image: linear-gradient(0deg,
      rgba(12, 12, 12, 0.92) 0%,
      rgba(12, 12, 12, 0.92) 100%),
    url(/images/menu/menu-img-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: inherit;
}

@media (min-resolution: 192dpi) and (max-width: 767px) {
  .mobile-menu {
    background-image: linear-gradient(0deg,
        rgba(12, 12, 12, 0.92) 0%,
        rgba(12, 12, 12, 0.92) 100%),
      url(/images/menu/menu-img-mobile@2x.png);
  }
}


.mobile-menu-close-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: transparent;
  cursor: pointer;

}

.mobile-menu-close-icon {
  display: block;
  /* https: //developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Fills_and_Strokes
  https: //www.w3schools.com/graphics/svg_stroking.asp */
  stroke: #fbfbfb;
  stroke-width: 2.5px;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: auto;
}

.mobile-nav-list-item {
  display: block;
  margin: auto;
  position: relative;
}

.mobile-nav-list-item-active-link::after {
  top: 0;
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  background: #3350e9;
}

.mobile-nav-list-item-link {
  position: relative;
  padding-bottom: 2px;
  display: block;
  color: #fbfbfb;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
}

.mobile-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}



.mobile-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;

}


.mobile-social-list-icon {
  fill: #fbfbfb;
}


@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 330px;
    background-image: linear-gradient(0deg,
        rgba(12, 12, 12, 0.92) 0%,
        rgba(12, 12, 12, 0.92) 100%),
      url(/images/menu/menu-img-tablet.png);
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .mobile-menu {
    width: 330px;
    background-image: linear-gradient(0deg,
        rgba(12, 12, 12, 0.92) 0%,
        rgba(12, 12, 12, 0.92) 100%),
      url(/images/menu/menu-img-tablet@2x.png);
  }
}

/* ці класи мають бути останніми бо інакше їх перекриває */
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}